<div class="container">
    <div style="text-align: initial;">
        <label class="labelpass"><b>Contraseña: </b> <small>Selecciona 3 iconos para iniciar sesión</small></label>
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item" *ngFor="let item of animalpass">
            <!-- Recorremos el objeto de iconos-->
            <div class="card icon" (click)="setIconPass(item)" [ngClass]="{iconcheck: item.status == true}">
                <i *ngIf="item.status" class="fas fa-check check"></i>
                <div class="card-body text-center pointer">
                    <i class="{{item.icon}} fa-3x"></i>
                </div>
                <div class="card-footer text-center pointer">
                    <h6>{{item.name}}</h6>
                </div>
            </div>
        </li>
    </ul>
</div>