.nav-item{
    width: 15%;
    margin-top: 20px;
    margin-right: 20px;
}

.labelpass{
    position: relative;
    left: 88px;
}

.icon:hover{
    background: rgb(17, 197, 221) !important;
    color: white;
}

.iconcheck{
    background: rgb(17, 221, 17) !important;
    color: white;
}

.card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.check{
    position: absolute;
    right: 8px;
    top: 7px;
}